<%= form_for([account, transaction], { html: { class: 'pure-form pure-form-stacked' } }) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :processed_on %>
    <%= f.date_field :processed_on %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :expense do %>
      <%= f.check_box :expense %>
      Expense?
    <% end %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.collection_select(
      :account_id,
      Account.all,
      :id,
      :name,
      prompt: 'Please select account'
    )
    %>
  </div>

  <div class="actions">
    <%= f.submit class: 'pure-button pure-button-primary'%>
  </div>
<% end %>
