<p id="notice"><%= notice %></p>
<%= @account.name %>
</p>

<h2>Transactions</h2>
<table class="pure-table pure-table-horizontal pure-table-striped">
  <thead>
  </thead>
  <tbody>
    <% @account.transaction_summaries.each do |transaction| %>
      <tr>
        <td><%= transaction.processed_on %></td>
        <td><%= transaction.description %></td>
        <td><%= number_to_currency(transaction.amount) %></td>
        <td><%= number_to_currency(transaction.balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br / >
<%= link_to 'Add Transaction', new_account_transaction_path(@account), { class: 'pure-button pure-button-primary' } %>